@model SkyWebApplication.Models.SysUser
@{
    ViewBag.Title = "Video";
}
@section Topcss {
    <link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/iCheck/square/green.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Resource/css/SkyWeb.css" rel="stylesheet" type="text/css" />
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        General Form Elements
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- right column -->
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header text-center">

                    <div class="container">
                        <img src="@Model.AvatarUrl" alt="Avatar" class="img-circle sky-img-avatar" data-toggle="tooltip" data-placement="bottom" title="点击头像上传更换">
                        <h5>
                            <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#Myavatarupload">
                                <i class="fa fa-camera"> 上传/更改头像</i>
                            </button>
                        </h5>
                    </div>

                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="/SysUser/Edit/@Model.ID" method="post">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.UserName)
                    @Html.HiddenFor(model => model.Email)
                    @Html.HiddenFor(model => model.Password)
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.AvatarUrl)
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="realName" class="col-sm-3 control-label">用户名</label>
                                <div class="col-sm-8 input-group">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="realName" class="col-sm-3 control-label">姓名</label>
                                <div class="col-sm-8 input-group">

                                    @Html.TextBoxFor(model => model.RealName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">生日类别</label>
                                <div class="col-sm-8 input-group" style="padding-top:7px;">

                                    <input type="radio" name="BirthdayType" value="公历" @(Model.BirthdayType == "公历" ? "checked" : "")><b>&nbsp;&nbsp;公历&nbsp;&nbsp;</b>
                                    <input type="radio" name="BirthdayType" value="农历" @(Model.BirthdayType == "农历" ? "checked" : "")><b>&nbsp;&nbsp;农历&nbsp;&nbsp;</b>
                                </div>
                            </div><div class="form-group">
                                <label for="realName" class="col-sm-3 control-label">手机</label>
                                <div class="col-sm-8 input-group">

                                    @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="realName" class="col-sm-3 control-label">QQ号</label>
                                <div class="col-sm-8 input-group">

                                    @Html.TextBoxFor(model => model.QQNumber, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="realName" class="col-sm-3 control-label">邮箱</label>
                                <div class="col-sm-8 input-group">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @disabled = "disabled" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">性别</label>
                                <div class="col-sm-8 input-group" style="padding-top:7px;">

                                    <input type="radio" name="Sex" value="男" @(Model.Sex == "男" ? "checked" : "")><b>&nbsp;&nbsp;男&nbsp;<i class="fa fa-fw fa-male"></i></b>
                                    <input type="radio" name="Sex" value="女" @(Model.Sex == "女" ? "checked" : "")><b>&nbsp;&nbsp;女&nbsp;<i class="fa fa-fw fa-female"></i></b>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">生日</label>
                                <div class="col-sm-8 input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input class="form-control" placeholder="生日" name="Birthday" type="text" id="datetimepicker" value="@Convert.ToDateTime(Model.Birthday).ToString("yyyy-MM-dd")" data-dat data-date-format="yyyy-mm-dd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="realName" class="col-sm-3 control-label">座机</label>
                                <div class="col-sm-8 input-group">
                                    @Html.TextBoxFor(model => model.MobileTelephone, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="realName" class="col-sm-3 control-label">微信号</label>
                                <div class="col-sm-8 input-group">
                                    @Html.TextBoxFor(model => model.WebchatNumber, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>



                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a class="btn btn-default" href="/SysUser/Index"><i class="fa fa-fw fa-mail-reply"></i>取消</a>
                        <button type="submit" class="btn btn-info pull-right">确定</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<div class="modal fade" id="Myavatarupload" tabindex="-10" role="dialog" aria-labelledby="addSysUserLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button><h4 class="modal-title" id="addModalLabel">
                    上传头像
                </h4>

            </div>
            <div class="modal-body">
                <div class="container" id="main">
                    <div class="demo">
                        <p id="swfContainer">
                            本组件需要安装Flash Player后才可使用，请从<a href="http://dl.pconline.com.cn/html_2/1/114/id=8122&pn=0.html" target="_blank">这里</a>下载安装。
                        </p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
                    取消上传头像
                </button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
@section FootScripts {
    <script type="text/javascript" src="~/plugins/iCheck/icheck.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="~/plugins/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/plugins/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="~/plugins/flashavatar/swfobject.js"></script>
    <script type="text/javascript" src="~/plugins/flashavatar/fullAvatarEditor.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[type="radio"],[type="checkbox"]').iCheck({
                labelHover: false,
                cursor: true,
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
                increaseArea: '20%'
            });

            $('#datetimepicker').datetimepicker({
                language: 'zh-CN',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
            $(".sky-img-avatar").click(function () {
                $('#Myavatarupload').modal('show');
            });


        });
    </script>
    <script type="text/javascript">
        swfobject.addDomLoadEvent(function () {
            //以下两行代码正式环境下请删除
            //if (location.href.indexOf('http://') == -1)
            //    alert('请于WEB服务器环境中查看、测试！\n\n既 http://*/simpleDemo.html\n\n而不是本地路径 file:///*/simpleDemo.html的方式');
            var swf = new fullAvatarEditor("/plugins/flashavatar/fullAvatarEditor.swf", "/plugins/flashavatar/expressInstall.swf", "swfContainer", {
                id: 'swf',
                upload_url: '/plugins/flashavatar/upload.aspx?userid=999&username=looselive', //上传接口
                method: 'post', //传递到上传接口中的查询参数的提交方式。更改该值时，请注意更改上传接口中的查询参数的接收方式
                src_upload: 2, //是否上传原图片的选项，有以下值：0-不上传；1-上传；2-显示复选框由用户选择
                avatar_box_border_width: 0,
                avatar_sizes: '160*160',    //可以设置多个格式如下：'100*100|50*50|32*32',
                avatar_sizes_desc: '160*160像素'  //可以设置多个格式如下：100*100像素|50*50像素|32*32像素
            }, function (msg) {
                switch (msg.code) {
                    default:
                       // document.getElementById("upload").style.display = "none";
                    case 1:
                        //   alert("页面成功加载了组件！");
                        break;
                    case 2:
                        //  alert("已成功加载图片到编辑面板。");
                        document.getElementById("upload").style.display = "inline";
                        break;
                    case 3:
                        if (msg.type == 0) {
                            alert("摄像头已准备就绪且用户已允许使用。");
                        }
                        else if (msg.type == 1) {
                            alert("摄像头已准备就绪但用户未允许使用！");
                        }
                        else {
                            alert("摄像头被占用！");
                        }
                        break;
                    case 5:
                        if (msg.type == 0) {
                            if (msg.content.sourceUrl) {
                                // alert("原图已成功保存至服务器，url为：\n" + msg.content.sourceUrl + "\n\n" + "头像已成功保存至服务器，url为：\n" + msg.content.avatarUrls.join("\n\n") + "\n\n传递的userid=" + msg.content.userid + "&username=" + msg.content.username);
                                //alert(msg.content);
                                $('#Myavatarupload').modal('hide');
                            }
                            else {
                                // alert("头像已成功保存至服务器，url为：\n" + msg.content.avatarUrls.join("\n\n") + "\n\n传递的userid=" + msg.content.userid + "&username=" + msg.content.username);
                                // alert(msg.content);


                                $('#Myavatarupload').modal('hide');
                                var path = '/plugins/flashavatar/' + msg.content.avatarUrls;
                                $(".sky-img-avatar").attr('src', path);
                                var token = $('[name=__RequestVerificationToken]').val();
                                var AvatarUrl = path;
                                $.ajax({
                                    type: 'POST',
                                    url: "/sysUser/UpdateAvatarUrl",
                                    data: {
                                        id: $('#ID').val(),
                                        AvatarUrl: AvatarUrl,
                                        __RequestVerificationToken: token,
                                    },
                                    dataType: "json",
                                    success: function (data) {
                                        alert('头像更改成功');
                                    }
                                });

                            }
                        }
                        break;

                }
            }
            );
            //document.getElementById("upload").onclick = function () {
            //    swf.call("upload");
            //};
        });
    </script>
}