@model SkyWebApplication.Models.Articles

@{
    ViewBag.Title = "Delete";
}

<h2>赵征专用-Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Essence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Essence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Top)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Top)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
