@model SkyWebApplication.Models.Setting

@{
    ViewBag.Title = "Details";
}

<h2>赵征专用-Details</h2>

<div>
    <h4>Setting</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Copyright)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Copyright)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Protocol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protocol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statistics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statistics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockedMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockedMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailedPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailedPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailHost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailHost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseCredential)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseCredential)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailCodeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCodeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailCodeContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCodeContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailLinkTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailLinkTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailLinkContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailLinkContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResetLinkTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResetLinkTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResetLinkContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResetLinkContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
