@model IEnumerable<SkyWebApplication.Models.ImgandFile>

@{
    ViewBag.Title = "Index";
}

<h2>赵征专用-Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileCategroy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HrefUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileCategroy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HrefUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
